{%- capture classes -%}
  product-gallery--slider
  {% if product.images.size > 0 %}
    product-gallery--has-images
    product-gallery--style-square
  {% endif %}
{%- endcapture -%}

<div
  class="{{ classes | strip_newlines }}"
  data-product-slider
  aria-label="{{ product.title }} image. Click or Scroll to Zoom."
>
<div
  class="{{ classes | strip_newlines }}"
  aria-label="{{ product.title }} image. Click or Scroll to Zoom."
>
{% for variant in product.variants %}
{%- unless variant.image.alt contains 'logo' -%}
{% assign image = variant.image %}
  <figure
    class="
      product-gallery--image
      {% if forloop.first %}image--selected{% endif %}
    "
    data-product-image="{{ image.id }}"
    data-product-image-index="0"
    tabindex="-1"
    {% if selected_image != image %}
      aria-hidden="true"
    {% endif %}
  >
    <div
      class="product-galley--image-background"
        {%
          include 'rimg',
          img: image,
          size: 'x600',
          lazy: false,
          background: true
        %}
    >
    </div>
  </figure>
  {% endfor %}
</div>
</div>