{%- capture classes -%}
  product-gallery--slider
  {% if product.images.size > 0 %}
    product-gallery--has-images
    product-gallery--style-square
  {% endif %}
{%- endcapture -%}

<div
  class="{{ classes | strip_newlines }}"
  data-product-slider
  aria-label="{{ product.title }} image. Click or Scroll to Zoom."
>
{% if product.variants.size > 0 %}
{% for variant in product.variants %}
{%- unless variant.image.alt contains 'logo' -%}
{% assign image = variant.image %}
{%- endunless -%}
  <figure
    class="
      product-gallery--image
      {% if selected_image == image %}
      image--selected
      {% endif %}
    "
    data-product-image="{{ image.id }}"
    data-product-image-index="{{ forloop.index0 }}"
    tabindex="-1"
    {% if selected_image != image %}
      aria-hidden="true"
    {% endif %}
  >
    <div
      class="product-galley--image-background"
        {%
          include 'rimg',
          img: image,
          size: 'x650',
          lazy: false,
          background: true,
          class: "lazyload lazypreload"
        %}
        data-image="{{ image | img_url: '500x500' }}"
    >
    </div>
  </figure>
  {% endfor %}
  {% else %}
  {% assign image = product.images[0] %}
    <figure
      class="
        product-gallery--image
        {% if selected_image == image %}
        image--selected
        {% endif %}
      "
      data-product-image="{{ image.id }}"
      data-product-image-index="0"
      {% if is_video %}
        data-product-image-video
      {% else %}
        data-product-image-zoom
      {% endif %}
      tabindex="-1"
      {% if selected_image != image %}
        aria-hidden="true"
      {% endif %}
    >
      <div
        class="product-galley--image-background"
          {%
            include 'rimg',
            img: image,
            size: 'x650',
            lazy: false,
            background: false
          %}
      >
      </div>
    </figure>
  {% endif  %}
</div>
