<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700|Roboto&display=swap" rel="stylesheet">

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}

    <!-- <header class="banner" data-header role="banner">
      <div class="wrap">
          {{ content_for_logo }}
      </div>
    </header> -->

    <div class="content" data-content>
      <div class="header_upper">
        <header class="main__header wrap" role="banner">
          <div class="inner wrap">
          {{ content_for_logo }}
          </div>
        </header>
      </div>
      <div class="small-show">
        {{ breadcrumb }}
      </div>
      {{ order_summary_toggle }}
      
      <div class="wrap">
        <div class="main">
          <div class="small-hide">
            {{ breadcrumb }}
          </div>
          <header style="padding-bottom:.75em;">
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
            {% include 'fuzzy-message' %}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
  </body>
</html>
<style>
.content, .wrap, .sidebar {
}
.sidebar__content{
  padding-top: 1rem;
}
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}
body, p, a {
  font-family: 'Roboto', sans-serif;
}
.header_upper{
   z-index: 2; 
}
.main__header {
  box-shadow: 0px 2px 4px rgba(0,0,0,.2);
  padding: 0 0em 1em;
  max-width: 100%;
  width: 100%;
}
.inner.wrap {
  padding: 0;
}
.logo {
  margin-top: 1em;
}
.sidebar {
  background: #fafafa;
  z-index: 0;
}
.order-summary__sections {
  height: unset !important;
  
}
@media screen and (max-width: 1000px){
  .order-summary__sections{
      display: flex;
      flex-direction: column;
    }
}
@media screen and (max-width: 1000px){
  .order-summary__section--product-list{
      order: 2;
    }
}
@media screen and (max-width: 1000px){
  .order-summary__section--discount{
      order: 1;
      border-bottom: 1px solid rgba(175,175,175,0.34);
      border-top: none !important;
    }
}
@media screen and (max-width: 1000px){
  .order-summary__section--total-lines{
      order: 3;
    }
}
.fuzzy-message-img{
  max-width: 30px;
  margin-right: 10px;
}
.fuzzy-message-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  margin: 30px auto;
}
.fuzzy-message-col{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;
}
.fuzzy-message-text{
  text-transform: capitalize;
}
.field__input:focus, .field__input-wrapper--flag-focus .field__input {
  border-color: #ed7724;
  box-shadow: 0 0 0 1px #ed7724;
}
.input-checkbox:checked, .input-radio:checked{
  box-shadow: 0 0 0 10px #ed7724 inset;
}
.breadcrumb{
  justify-content: center;
  max-width: 900px;
  margin: 3em auto 1em !important;
  height: 40px;
}
.breadcrumb__item{
  flex: 1;
  justify-content: center;
  padding-top: 1em;
  position: relative;
}
.breadcrumb__item:last-child:after{
  content: "";
  position: absolute;
  top: -1px;
  width: 50%;
  height: 2px;
  background-color: white;
  right: calc(0%);
  transform: translate(0%,-50%);
  z-index: 0;
}
.breadcrumb__item:first-child:after{
  content: "";
  position: absolute;
  top: -1px;
  width: 50%;
  height: 2px;
  background-color: white;
  left: calc(0%);
  transform: translate(0%,-50%);
  z-index: 0;
}

.breadcrumb__item > svg {
  display: none !important;
}
.breadcrumb__item--completed{
  border-top: 2px solid #026172;
}
.breadcrumb__item--completed:before{
  content: "";
  position: absolute;
  top: -1px;
  right: calc(50% - 16px);
  transform: translate(-50%,-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #026172;
  border: 2px solid #026172;
  z-index: 1;
  box-shadow: 0px 0px 0 8px white;
}
.breadcrumb__item--current{
  border-top: 2px solid #026172;
}
.breadcrumb__item--current:before{
  content: "";
  position: absolute;
  top: -1px;
  right: calc(50% - 16px);
  transform: translate(-50%,-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  border: 2px solid #026172;
  z-index: 1;
  box-shadow: 0px 0px 0 8px white;
}
.breadcrumb_text, .breadcrumb_link {
  transform: translate(-50px,-0%);
}
.breadcrumb__item--blank{
  border-top: 2px solid lightgrey;
}
.breadcrumb__item--blank:before{
  content: "";
  position: absolute;
  top: -1px;
  right: calc(50% - 16px);
  transform: translate(-50%,-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  border: 2px solid lightgrey;
  z-index: 1;
  box-shadow: 0px 0px 0 8px white;
}
@media screen and (max-width: 500px){
    .fuzzy-message-col{
      width: 100%;
      max-width: 90%;
      justify-content: center;
      margin: .5em 0;
    }
}
@media screen and (max-width: 1200px){
    .inner.wrap {
      max-width: 90%;
    }
}
@media screen and (max-width: 1000px){
.small-hide{
    display: none;
  }
}
.small-show{
  display: none;
}
@media screen and (max-width: 1000px){
.small-show{
    display: block;
  }
}
</style>
<script async>
(function() {
console.log('click?')
var el = document.getElementsByClassName('order-summary-toggle');
el[0].click()

})();

</script>
