<script
  type="application/json"
  data-section-type="static-slideshow"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "enable_autoplay": {{ section.settings.enable_autoplay | json }},
    "autoplay_duration": {{ section.settings.autoplay_duration | json }}
  }
</script>

{% if section.settings.show_slideshow %}
  <section
    class="
      slideshow
      slideshow-dots-{{ section.settings.slideshow_height }}
    "
    aria-label="Slide show"
  >
    {% for block in section.blocks %}
      {% capture placeholder_slide_image %}
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {% assign placeholder_style = 'lifestyle-' | append: current %}
        {%-
          include 'placeholder_svg_uri'
          placeholder: placeholder_style
        -%}
      {% endcapture %}

      <div
        class="
          slideshow-slide
          slideshow-height-{{ section.settings.slideshow_height }}
        "
        tabindex="0"
        aria-label="Slide {{ forloop.index }} of {{ section.blocks.size }}"
        {{ block.shopify_attributes }}
      >
        {% if block.settings.link != blank %}
          <a
            class="
              slideshow-link
              slideshow-background-link
              slideshow-dynamic
            "
            href="{{ block.settings.link }}"
            tabindex="-1"
          ></a>
        {% endif %}

        {% assign slideshow_crop = 'center' %}

        {% if section.settings.slideshow_height == 'original' %}
          {% assign slideshow_crop = false %}
        {% endif %}

        <div
          class="
            background-target
            slideshow-background
            slideshow-dynamic
            slideshow-background--{{ block.id }}
            {% if section.settings.sticky %}slideshow-background-sticky{% endif %}
            {% if block.settings.background_image == blank %}
              placeholder--image
            {% endif %}
          "
          {% if block.settings.background_image %}
            {%
              include 'rimg',
              img: block.settings.background_image,
              size: '2000x2000',
              crop: slideshow_crop,
              lazy: true,
              background: true,
            %}
          {% else %}
            style="background-image: url('{{ placeholder_slide_image | strip }}')"
          {% endif %}
          data-themecolor="{{ settings.color_text }}"
          data-slidecolor="{{ block.settings.color }}"
        >
          {% if block.settings.background_image %}
            {%
              include 'rimg',
              img: block.settings.background_image,
              class: 'slideshow-image',
              size: '2000x2000',
              crop: slideshow_crop,
              lazy: true,
              canvas: true,
            %}
          {% else %}
            <img
              class="slideshow-image"
              src="{{ placeholder_slide_image | strip }}"
              alt=""
            >
          {% endif %}

          {% if block.settings.show_overlay %}
            <div
              class="
                slideshow-slide-overlay
                slideshow-slide-overlay--{{ block.id }}
              "
            ></div>
          {% endif %}
        </div>

        {% if page.title != blank
          or block.settings.text != blank
          or block.settings.button_one_label != blank
          or block.settings.button_two_label != blank
        %}
          <div
            class="
              slideshow-slide-content
              slideshow-slide-content--{{ block.id }}
              text-align-{{ block.settings.text_alignment }}
              row
              container
              align-items-center
            "
          >
            <div class="col-12 col-sm-6 col-md-5">
              <div class="video-container">
              {% if block.settings.vid_type == 'youtube' %}
                <iframe width="560" height="315" src="{{ block.settings.video_url}}?controls=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              {% else %}
                <div style="padding:42.66% 0 0 0;position:relative;"><iframe src="{{ block.settings.video_url}}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
              {% endif %}
              </div>
            </div>
            <div class="col-sm-6 col-md-7 d-flex flex-column justify-content-center text-left" style="padding: 1em">
              <h1 class="propisi" style="color: {{ block.settings.color }}">
                {{ block.settings.title | escape }}
              </h1>
            {% if block.settings.text != blank %}
              <p class="" style="color: {{ block.settings.color }}">
                {{ block.settings.text  }}
              </p>
            {% endif %}
            {% if block.settings.byline != blank %}
              <p class="" style="color: {{ block.settings.color }}">
                {{ block.settings.byline  }}
              </p>
            {% endif %}
            {% if block.settings.link != blank %}
              </a>
            {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}

    {%
      include 'slideshow-overlay',
      blocks: section.blocks
    %}
    {% include 'header-image-helper' %}
  </section>
{% endif %}
{% schema %}
{
  "name": "About Slideshow",
  "class": "slideshow--section",
  "settings": [
    {
      "id": "show_slideshow",
      "type": "checkbox",
      "label": "Enable slideshow",
      "default": true
    },
    {
      "id": "enable_autoplay",
      "type": "checkbox",
      "label": "Autoplay slideshow",
      "default": true
    },
    {
      "id": "sticky",
      "type": "checkbox",
      "label": "Keep text content in slideshow on mobile?",
      "default": false
    },
    {
      "id": "autoplay_duration",
      "type": "range",
      "label": "Autoplay slide duration",
      "min": 5,
      "max": 12,
      "step": 1,
      "unit": "sec",
      "default": 8
    },
    {
      "id": "slideshow_height",
      "type": "select",
      "label": "Slideshow height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "fullscreen",
          "label": "Fullscreen"
        },
        {
          "value": "original",
          "label": "Original aspect ratio"
        }
      ],
      "default": "small"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "id": "background_image",
          "type": "image_picker",
          "label": "Background image",
          "info": "1800x1000 recommended"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (Mobile View)"
        },
        {
          "id": "video_url",
          "type": "text",
          "label": "Video URL",
          "default": "https://www.youtube.com/embed/K538gxU8-Po",
          "info": "From the 'embed' option under the share menu"
        },
        {
          "type":      "radio",
          "id":        "vid_type",
          "label":     "Video Type",
          "options": [
            { "value": "youtube", "label": "YouTube" },
            { "value": "vimeo", "label": "Vimeo" }
          ],
          "default":   "youtube",
          "info":      "Choose a source for the video"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Heading",
          "default": "Slideshow"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Header subtext",
          "default": "We passionately believe that everyone has the ability to be creative and that effective collaboration is the master key that unlocks creativity and innovation."
        },
        {
          "type": "text",
          "id": "byline",
          "label": "Header Byline",
          "default": "Anthony Franco    Founder"
        },
        {
          "id": "color",
          "type": "color",
          "label": "Text color",
          "default": "#FFFFFF"
        },
        {
          "id": "text_alignment",
          "type": "select",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "header",
          "content": "Buttons"
        },
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "id": "show_overlay",
          "type": "checkbox",
          "label": "Show overlay",
          "default": true
        },
        {
          "id": "overlay_color",
          "type": "color",
          "label": "Color",
          "default": "#000000"
        },
        {
          "id": "overlay_opacity",
          "type": "range",
          "label": "Opacity",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "slide"
      },
      {
        "type": "slide"
      }
    ]
  }
}

{% endschema %}
