{% assign bg_color = section.settings.bg_color %}
{% include 'svg-curve-transparent' %}
<div style="background-color: {{ bg_color }}">
  <div class="ribbon-image-box">
    <div class="image-content__image-container">
      <div class="image-content__image-wrapper" style="">
        {% assign img_url = section.settings.image | img_url: '1x1'  %}
        <img
          class="image-content__image curve-clip lazyload"
          src="{{ section.settings.image }}"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
          data-aspectratio="{{ section.settings.image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ section.settings.image.alt | escape }}"
          style="width: 100%">
      </div>
    </div>
  </div>
  <div class="text center d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-blue text-cursive">{{section.settings.header}}</h1>
    <p>{{section.settings.body}}</p>
  </div>
</div>
<style>
.curve-clip{
  clip-path: url(#curvePath)
}
</style>
{% schema %}
  {
    "name": "Collection Ribbon Image",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Ribbon Image"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Content Header",
        "label": "Created for Collaboration"
      }
      ,
      {
        "type": "richtext",
        "id": "body",
        "label": "Content Body",
        "default": "<p>mcSquares were designed with innovation and collaboration in mind. A system built to reinforce team building and independent work, mcSquares collaboration tools were born from the idea that given the right tools, every student will feel comfortable enough to contribute.</p>"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "background color"
      }
    ]
  }
{% endschema %}