{% assign bg_color = section.settings.bg_color %}
{% include 'svg-curve-flat' %}
<div class="page-width home-section--content" style="background-color: {{bg_color}}">
  <div class="container">
    <div class="d-flex flex-column align-items-center text-center">
    <img src="{{ section.settings.image | img_url: '60x' }}" style="margin-bottom:.5rem;max-width: 50px;">
    <h4 class="text-center" style="color: {{ section.settings.text-color }}">
    {{ section.settings.heading }}
    </h4>
    <p class="text-center" style="color: {{ section.settings.text-color }}">
        {{ section.settings.copy }}
    </p>
      <a href="{{section.settings.cta--link}}">
        <button class="button-secondary">
          {{ section.settings.cta-button-text }}
        </button>
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collaboration CTA",
    "class": "index-section",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Text Heading",
        "default": "Improve Organizational Collaboration"
      },
      {
        "type": "richtext",
        "id": "copy",
        "label": "Copy",
        "default": "<p>The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together. This improvement upon the original usage was introduced by no less a man than Stubb, in order to afford the imperilled.</p>"
      },
      {
        "type": "text",
        "id": "cta-button-text",
        "label": "CTA Button text",
        "default": "Contact Us"
      },
      {
        "type": "page",
        "id": "cta-link",
        "label": "CTA Link"
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Contact CTA"
        },
        "category": {
          "en": "CTAs"
        }
      }
    ]
  }
{% endschema %}