<div class="page-width home-section--content" style="background-color: {{section.settings.bg_color}}; {% if section.settings.hide_section %}display:none !important;opacity:0;height:0px;{% endif %}">
  <div class="container">
    <div class="d-flex flex-column align-items-center text-center">
    <div class="text-center" style="color: {{ section.settings.text_color }}">
        {{ section.settings.copy }}
    </div>
      <a href="{{section.settings.cta-link}}">
        <button class="button-secondary">
          {{ section.settings.cta-button-text }}
        </button>
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "CTA",
    "class": "index-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "hide_section",
        "label": "Hide Section?",
        "default": false
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color"
      },
      {
        "type": "richtext",
        "id": "copy",
        "label": "Copy",
        "default": "<p>We are a small team of designers and engineers dedicated to bring you tools that cultivate collaboration and inspire creativity.</p>"
      },
      {
        "type": "text",
        "id": "cta-button-text",
        "label": "CTA Button text",
        "default": "Contact Us"
      },
      {
        "type": "page",
        "id": "cta-link",
        "label": "CTA Link"
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Contact CTA"
        },
        "category": {
          "en": "CTAs"
        }
      }
    ]
  }
{% endschema %}
