<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-promo-mosaic-alt"
  data-section-data
>
  {
    "compress_blocks": {{ section.settings.compress_blocks | json }}
  }
</script>
{% assign bg_color = section.settings.bg_color %}
<div style="background-color: {{ bg_color }}" {% if section.settings.curve == 'top' %}class="has-top-curve"{% elsif section.settings.curve == 'bottom' %}class="has-bottom-curve" {% endif %}>
<section class="promo-mosaic--container">
  {% if section.settings.title != blank %}
    <h2 class="home-section--title">
      {{ section.settings.title | escape }}
    </h2>
  {% endif %}

  <div class="home-section--content promo-mosaic--height-{{ section.settings.section_height }}" style="padding-top: 10px;">
    {% if section.blocks.size > 0 %}
      <div
        class="
          promo-mosaic--inner
          promo-mosaic--inner-alt
          promo-mosaic--layout-{{ section.blocks.size }}
          {% if section.settings.compress_blocks %}promo-mosaic--compressed{% endif %}
          {% if section.settings.maintain_aspect_ratio %}
          promo-mosaic--maintain-aspect-ratio
          {% endif %}
        "
      >
      {% for block_item in section.blocks %}
        {%
          include 'promo-block',
          block: block_item,
          text_alignment: section.settings.text_alignment,
          compress_blocks: section.settings.compress_blocks,
          maintain_aspect_ratio: section.settings.maintain_aspect_ratio
        %}
      {% endfor %}
      </div>
    {% endif %}
  </div>

  {%
    include 'promo-block-background',
    blocks: section.blocks
  %}
</section>
</div>
{% schema %}
{
  "name": "Mosaic Alt",
  "class": "promo-mosaic--section",
  "max_blocks": 2,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Mosaic"
    },
    {
      "id": "section_height",
      "type": "select",
      "label": "Section height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "id": "text_alignment",
      "type": "select",
      "label": "Text alignment",
      "options": [
        {
          "value": "top-left",
          "label": "Top left"
        },
        {
          "value": "top-center",
          "label": "Top center"
        },
        {
          "value": "top-right",
          "label": "Top right"
        },
        {
          "value": "center-left",
          "label": "Center left"
        },
        {
          "value": "center-center",
          "label": "Center center"
        },
        {
          "value": "center-right",
          "label": "Center right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom right"
        }
      ],
      "default": "top-left"
    },
    {
      "id": "curve",
      "type": "select",
      "label": "Does top or bottom need svg spacing?",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "none"
    },
    {
      "id": "maintain_aspect_ratio",
      "type": "checkbox",
      "label": "Maintain aspect ratio",
      "default": false
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "id": "compress_blocks",
      "type": "checkbox",
      "label": "Compress blocks",
      "default": false
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    }
  ],
  "blocks": [
    {
      "type": "promotion",
      "name": "Promotional item",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Mosaic"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Use this section to welcome customers to your store, say a bit about your brand, or share news."
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text color",
          "default": "#4d4d4d"
        },
        {
          "type": "url",
          "id": "block_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "id": "button_style",
          "type": "select",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "primary"
        },
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "id": "show_overlay",
          "type": "checkbox",
          "label": "Show overlay"
        },
        {
          "id": "background",
          "type": "color",
          "label": "Color"
        },
        {
         "type": "select",
         "id": "grad_direction",
         "label": "Gradient direction",
         "options": [
           {
             "group": "1",
             "value": "left",
             "label": "left-to-right"
           },
           {
             "group": "1",
             "value": "right",
             "label": "right-to-left"
           },
           {
             "group": "1",
             "value": "down",
             "label": "top-to-bottom"
           },
           {
             "group": "1",
             "value": "up",
             "label": "bottom-to-top"
           }
         ],
         "default":   "left",
         "info":      "left to right"
        },
        {
          "id": "opacity",
          "type": "range",
          "label": "Opacity",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 70
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Mosaic Alt",
      "category": "Image",
      "blocks": [
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        }
      ]
    }
  ]
}

{% endschema %}
