{% assign blog = blogs[section.settings.blog] %}

{%  case section.settings.post_limit %}
  {% when 3 %}
    {%- assign width = 'small--one-whole medium-up--one-third' -%}
  {% when 2 %}
    {%- assign width = 'small--one-whole medium-up--one-half' -%}
  {% when 1 %}
    {%- assign width = 'small--one-whole medium-up--one-whole' -%}
  {% else %}
    {%- assign width = 'small--one-whole medium-up--one-third' -%}
{% endcase %}

<div class="page-width">
  <div class="section-block section-block--padding">
    {% if section.settings.title != blank or section.settings.show_view_all != blank %}
      <div class="section-block__header text-center">
        {% if section.settings.title != blank %}
          <h4 class="h1--mini section-block__title">{{ section.settings.title | escape }}</h4>
        {% endif %}
        {% if section.settings.show_view_all != blank %}
          <a href="{{ blog.url }}" class="section-block__subtext">{{ 'blogs.article.view_all' | t }}</a>
        {% endif %}
      </div>
    {% endif %}
      <div class="grid grid--no-gutters">
        {% unless blog.articles_count == 0 %}
          {% for article in blog.articles limit: section.settings.post_limit %}
            <div class="grid__item {{ width }}">
              <a href="{{ article.url }}" class="article-block">
                {% if article.image %}
                  <noscript>
                    <div class="article-block__image" style="background-image: url('{{ article | img_url: '480x480' }}')">
                    </div>
                  </noscript>
                  <div class="article-block__image lazyload"
                    data-bgset="{% include 'bgset', image: article.image %}"
                    data-sizes="auto"
                    data-parent-fit="cover">
                  </div>
                {% endif %}
                <div class="article-block__info">
                  <span class="article-block__date">
                    {{ article.published_at | time_tag: format: 'month_day_year' }}
                  </span>
                  <h6 class="article-block__title">{{ article.title }}</h6>
                  <p>{{ 'blogs.article.read_more' | t }}</p>
                </div>
              </a>
            </div>
          {% endfor %}
        {% else %}
          {% for i in (1..section.settings.post_limit)  %}
            <div class="grid__item {{ width }}">
              <a href="#" class="article-block">
                <div>
                   {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                <div class="article-block__info">
                  <h6 class="article-block__title">{{ 'homepage.onboarding.blog_title' | t }}</h6>
                  <p>{{ 'blogs.article.read_more' | t }}</p>
                </div>
              </a>
            </div>
          {% endfor %}
        {% endunless %}
        {% if blog == empty %}
          {% for i in (1..section.settings.post_limit)  %}
            <div class="grid__item {{ width }}">
              <a href="#" class="article-block">
                <div>
                   {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                <div class="article-block__info">
                  <h6 class="article-block__title">{{ 'homepage.onboarding.blog_title' | t }}</h6>
                  <p>{{ 'blogs.article.read_more' | t }}</p>
                </div>
              </a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
  </div>
</div>

{% schema %}
  {
    "name": {
      "pt-BR": "Posts do blog",
      "it": "Articoli del blog",
      "en": "Featured Articles",
      "es": "Entradas del blog",
      "de": "Blog-Beiträge",
      "ja": "ブログ記事",
      "fr": "Articles de blog"
    },
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": {
          "pt-BR": "Título",
          "it": "Heading",
          "en": "Heading",
          "es": "Título",
          "de": "Titel",
          "ja": "見出し",
          "fr": "Titre"
        },
        "default": {
          "pt-BR": "Blog",
          "it": "Blog",
          "en": "Blog",
          "es": "Blog",
          "de": "Blog",
          "ja": "ブログ",
          "fr": "Blog"
        }
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": {
          "pt-BR": "Exibir o link \"Ler tudo\"",
          "it": "Mostra link \"Leggi tutto\"",
          "en": "Show 'Read all' link",
          "es": "Mostrar el enlace \"Leer todo\"",
          "de": "Schaltfläche \"Alle lesen\" anzeigen",
          "ja": "「すべて読む」リンクを表示する",
          "fr": "Afficher le lien « Tout lire »"
        },
        "default": true
      },
      {
        "type": "blog",
        "id": "blog",
        "label": {
          "pt-BR": "Blog",
          "it": "Blog",
          "en": "Blog",
          "es": "Blog",
          "de": "Blog",
          "ja": "ブログ",
          "fr": "Blog"
        }
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": {
          "pt-BR": "posts",
          "it": "articoli",
          "en": "Posts",
          "es": "Publicaciones",
          "de": "Beiträge",
          "ja": "投稿",
          "fr": "Articles"
        },
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 3
      }
    ],
    "presets": [
      {
        "name": {
          "pt-BR": "Posts do blog",
          "it": "Articoli del blog",
          "en": "Featured Articles",
          "es": "Entradas del blog",
          "de": "Blog-Beiträge",
          "ja": "ブログ記事",
          "fr": "Articles de blog"
        },
        "category": {
          "pt-BR": "Blog",
          "it": "Blog",
          "en": "Blog",
          "es": "Blog",
          "de": "Blog",
          "ja": "ブログ",
          "fr": "Blog"
        },
        "settings": {
          "blog": "News"
        }
      }
    ]
  }
{% endschema %}
