
{% assign article = articles[section.settings.article] %}
{%- assign featured_image = article.image  -%}
{%- assign bg_color = section.settings.bg_color -%}
{% include 'svg-curve' %}
<div class="container">
<div class="featured-article-intro d-flex align-items-center">
  <h4 class="feedtitle">{{ blog.title }}</h4>
    {% if section.settings.show_rss_link %}
      <a href="{{ blog.url }}.atom" style="margin: 0 .5rem .5rem;">
        {% include 'icon-rss' %}
        <span class="visually-hidden">{{ 'general.accessibility.rss' | t: platform: title | escape }}</span>
      </a>
    {% endif %}
</div>
  <div class="round shadow">
    <div class="row">
      <div class="featured-product-info-content product-info-content col-md-7">
      <p style="color: {{ section.settings.font_color }}">{{ article.published_at | date: format: 'abbreviated_date' }}</p>
        <a href="{{article.url}}"><h4>{{ article.title }}</h4></a>
        <p style="color: {{ section.settings.font_color }}">
          {{ article.excerpt }}
        </p>
        <p>
          <a target="_blank" href="{{ section.settings.cta_link }}"><strong>{{ section.settings.cta_text }}</strong></a>
        </p>
      </div>
      {% if article.image == blank %}
        <div class="col-md-5 text-center" style="background-image: url('{{ article-default.jpg | asset_img_url: '500x500' }}'); background-size:cover;backround-position:center;background-repeat: no-repeat; min-height: 200px;">
      {% else %}
      <div class="col-md-5 text-center" style="background-image: url('{{ featured_image | img_url: '500x500' }}'); background-size:cover;backround-position:center;background-repeat: no-repeat; min-height: 200px;">
      {% endif %}
        {% comment %} <img style="max-width: 300px;" src="" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg-{{ section.id }}"> {% endcomment %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Featured Article",
  "class": "product--section-info",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_rss_link",
      "label": "Show RSS link",
      "default": true
    },
    {
      "type": "article",
      "id": "article",
      "label": "Featured Whitepage/Blog"
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "Font Color"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }
  ]
}

{% endschema %}
