{% assign bg_color = section.settings.bg_color %}
<div class="for-the-trees page-width section-block--padding has-both-curve {% if section.settings.curve == 'top' %} has-top-curve{% elsif section.settings.curve == 'bottom' %} has-bottom-curve{% endif %}" style="background-color: {{ bg_color }}">
  <div class="section-block">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-12 col-md-4">
        <div class="row d-flex align-items-center">
          <div class="col offset-md-4 col-md-10 text-center d-flex align-items-center justify-content-center">
          {% for block in section.blocks limit: 1 %}
          {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <img
                style="max-width: 100%"
                class="lazyload {% unless forloop.first == true %} lazypreload{% endunless %}"
                src="{{ block.settings.image | img_url: '300x' }}"
                data-src="{{ img_url }}"
                data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                data-sizes="auto"
                data-parent-fit="cover"
                alt="{{ block.settings.image.alt | escape }}">
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="row d-flex align-items-center text-container">
          <div class="col text-center">
            <h1 class="section--title text-center">{{ section.settings.header }}</h1>
            <p class="text-center">{{ section.settings.subheader }}</p>
            <div id="odometer" class="odometer odometer-target">
            </div>
              {% comment %} <div class="trees-counter row">
                <div class="col trees-counter-box text-center"><span class="numscroller">0</span></div>
                <div class="col trees-counter-box text-center"><span class="numscroller">0</span></div>
                <div class="col trees-counter-box text-center"><span class="numscroller active" data-min="0" data-max="3456" data-delay="2" data-increment="2">0</span></div>
                <div class="col trees-counter-box text-center"><span class="numscroller active" data-min="1" data-max="4" data-delay="2" data-increment="1">4</span></div>
                <div class="col trees-counter-box text-center"><span class="numscroller active" data-min="1" data-max="5" data-delay="2" data-increment="1">5</span></div>
                <div class="col trees-counter-box text-center"><span class="numscroller active" data-min="1" data-max="6" data-delay="2" data-increment="1">6</span></div>
              </div> {% endcomment %}
            {{ section.settings.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ 'scroller.js' | asset_url | script_tag }}
<script type="text/javascript">
$(window).scroll(function() {
  if ($(".odometer-target")[0].hasAttribute('id')){
    var top_of_element = $("#odometer").offset().top;
    var bottom_of_element = $("#odometer").offset().top + $("#odometer").outerHeight();
    var bottom_of_screen = $(window).scrollTop() + $(window).innerHeight();
    var top_of_screen = $(window).scrollTop();
    if ((bottom_of_screen > top_of_element) && (top_of_screen < bottom_of_element)){
        var clockScroller=Scroller.getNewInstance({
          width: 200,
          amount:15,
          interval: 2000,
          separatorType:Scroller.SEPARATOR.THOUSAND,
          separator:","
        });
        clockScroller.appendTo(document.getElementById("odometer"));
        clockScroller.start("0000");
        setInterval(function(){
          var timeStr=3586;
          clockScroller.scrollTo( timeStr);
        },3000);
      $(".odometer-target").removeAttr('id')
    }
  }
});


</script>
{% schema %}
  {
    "name": "For the Trees",
    "class": "index-section",
    "settings": [
      {
        "id": "curve",
        "type": "select",
        "label": "Does top or bottom need svg spacing?",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          },
          {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "none"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Title",
        "default": "For the Trees"
      },
      {
        "type": "text",
        "id": "subheader",
        "label": "Subtitle",
        "default": "We plant a tree for every pack of Stickies we sell."
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>Our products help companies meet environmental goals by providing a product that can be used over and over again. That means mcSquares products save the trees while saving you money.</p>"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "slide",
      "name": {
        "pt-BR": "Slide",
        "it": "Slide",
        "en": "Slide",
        "es": "Diapositiva",
        "de": "Folie",
        "ja": "スライド",
        "fr": "Diapositive"
      },
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Tree Image (randomized on page load)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "en": "For The Trees"
        },
        "category": {
          "en": "Custom"
        }
      }
    ]
  }
{% endschema %}
