{% assign bg_color = section.settings.bg_color %}
<div class="for-the-trees page-width section-block--padding has-both-curve {% if section.settings.curve == 'top' %} has-top-curve{% elsif section.settings.curve == 'bottom' %} has-bottom-curve{% endif %}" style="background-color: {{ bg_color }}">
  <div class="section-block">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-12 col-md-4">
        <div class="row d-flex align-items-center">
          <div class="col offset-md-4 col-md-10 text-center d-flex align-items-center justify-content-center">
          {% if section.blocks.size >= 2 %}
            {% assign max = section.blocks.size %}
            {% assign min = 1 %}
            {% assign diff = max | minus: min %}
            {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min | downcase %}
          {% else %}
          {% assign randomNumber = 1 %}
          {% endif %}
          {% assign block = section.blocks[randomNumber] %}
          {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <img
                style="max-width: 100%"
                class="lazyload {% unless forloop.first == true %} lazypreload{% endunless %}"
                src="{{ block.settings.image | img_url: '300x' }}"
                data-src="{{ img_url }}"
                data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                data-sizes="auto"
                data-parent-fit="cover"
                alt="{{ block.settings.image.alt | escape }}">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="row d-flex align-items-center text-container">
          <div class="col text-center">
          <p>{{randomNumber}}</p>
            <h1 class="section--title text-center">{{ section.settings.header }}</h1>
            <p class="text-center">{{ section.settings.subheader }}</p>
            <div id="odometer" class="odometer odometer-target">
            </div>
            {{ section.settings.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ 'scroller.js' | asset_url | script_tag }}
<script type="text/javascript">
var prependZero = function () {
  var el = $('.scroller-table tr')
  el.prepend('<td><div class="scroller" style="position:relative;overflow:hidden;width:45px;text-align:center;height:30px;line-height:30px;"><div class="scroller-inner-pane" style="position: absolute; width: 45px; text-align: center; top: 0px; transition-timing-function: linear !important; transition-duration: 0ms !important; transform: translateY(0px) scaleX(1) !important;"><span class="scroller-span" style="position:absolute;height:30px;line-height:30px;left:0px;top:0px;width:45px;">0</span></div></div></td>')
}
$(window).scroll(function() {
  if ($(".odometer-target")[0].hasAttribute('id')){
    var top_of_element = $("#odometer").offset().top;
    var bottom_of_element = $("#odometer").offset().top + $("#odometer").outerHeight();
    var bottom_of_screen = $(window).scrollTop() + $(window).innerHeight();
    var top_of_screen = $(window).scrollTop();
    if ((bottom_of_screen > top_of_element) && (top_of_screen < bottom_of_element)){
        var clockScroller=Scroller.getNewInstance({
          width: 240,
          amount: 35,
          interval: 2000,
          separatorType:Scroller.SEPARATOR.NONE,
          separator:","
        });
        clockScroller.appendTo(document.getElementById("odometer"));
        clockScroller.start("0000000");
        setInterval(function(){
          var timeStr={{section.settings.count}};
          clockScroller.scrollTo("00"+timeStr);
        },1000);
      $(".odometer-target").removeAttr('id')
    }
  }
});


</script>
{% schema %}
  {
    "name": "For the Trees",
    "class": "index-section",
    "settings": [
      {
        "id": "curve",
        "type": "select",
        "label": "Does top or bottom need svg spacing?",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          },
          {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "none"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Title",
        "default": "For the Trees"
      },
      {
        "type": "text",
        "id": "subheader",
        "label": "Subtitle",
        "default": "We plant a tree for every pack of Stickies we sell."
      },
      {
        "type": "text",
        "id": "count",
        "label": "Count to how many?"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>Our products help companies meet environmental goals by providing a product that can be used over and over again. That means mcSquares products save the trees while saving you money.</p>"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "slide",
      "name": {
        "pt-BR": "Slide",
        "it": "Slide",
        "en": "Slide",
        "es": "Diapositiva",
        "de": "Folie",
        "ja": "スライド",
        "fr": "Diapositive"
      },
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Tree Image (randomized on page load)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "en": "For The Trees"
        },
        "category": {
          "en": "Custom"
        }
      }
    ]
  }
{% endschema %}
