
{% assign bg_color = section.settings.bg_color %}
<div>
<section class="promo-mosaic--container">
  <div class="home-section--content hover-feature-content d-flex" style="padding-top: 10px;">
  {% if section.settings.link %}
  <a href="{{section.settings.link}}">
  {% endif %}
      <div class="hover-feature-text-wrap" style="">
      <h2>{{ section.settings.title }}</h2>
      <p>{{ section.settings.copy }}</p>
      </div>
  {% if section.settings.link %}
  </a>
  {% endif %}
      <div class="hover-feature-image-wrap">
      <img src="{{ section.settings.bg_image | img_url: '800x800' }}">
      </div>
  </div>

</section>
</div>
<style type="text/css">
.hover-feature-content:hover > .hover-feature-text-wrap{background-color: {{ bg_color }}; color: #fff;}
.hover-feature-content:hover > .hover-feature-text-wrap > a , .hover-feature-content:hover > .hover-feature-text-wrap > p > a{
  color: #fff !important;
}
</style>

{% schema %}
{
  "name": "Hover Feature Alt",
  "class": "hover-feature-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Main text"
    },
    {
      "type": "richtext",
      "id": "copy",
      "label": "Main Copy"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
    "type": "image_picker",
    "id": "bg_image",
    "label": "Background Image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link (optional)"
    }
  ],
  "presets": [
    {
      "name": "Hover Feature Alt",
      "category": "Image"
    }
  ]
}

{% endschema %}
