<div class="page-width">
  <div class="section-block section-block--padding">
    <div class="flex flex--grid flex--no-gutter">
      {% case section.blocks.size %}
        {% when 1 %}
          {% assign flex_size = '' %}
        {% when 2 %}
          {% assign flex_size = 'medium-up--one-half' %}
        {% when 3 %}
          {% assign flex_size = 'medium-up--one-third' %}
        {% else %}
          {% assign flex_size = 'medium-up--one-half' %}
      {% endcase %}
      {% for block in section.blocks %}
        <div class="flex__item flex flex--center-vertical {{ flex_size }}" {{ block.shopify_attributes }}>
          {% case block.type %}
            {% when 'image_block' %}
              <div class="flex__item">
                {% if block.settings.image != blank %}
                  <noscript>
                    <img src="{{ block.settings.image | img_url: '600x' }}" alt="{{ block.settings.image.alt }}" class="image-content__image">
                  </noscript>
                  <div class="image-content__image-container">
                    <div class="image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;">
                      {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                      <img class="image-content__image lazyload"
                        src="{{ block.settings.image | img_url: '300x300' }}"
                        data-src="{{ img_url }}"
                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                        data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ block.settings.image.alt | escape }}">
                    </div>
                  </div>
                {% else %}
                  <div class="image-content__image">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
              </div>
            {% when 'text_block' %}
              <div class="flex__item image-content__text text-{{ block.settings.align }}">
                <p class="h5">{{ block.settings.title | escape }}</p>
                <div class="rte-setting">{{ block.settings.text }}</div>
              </div>
          {% endcase %}
        </div>
      {% endfor %}
    </div>

    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": {
      "pt-BR": "Imagem com texto",
      "it": "Immagine con testo",
      "en": "Image with text",
      "es": "Imagen con texto",
      "de": "Bild mit Text",
      "ja": "テキスト付き画像",
      "fr": "Image avec texte"
    },
    "class": "index-section",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "text_block",
        "name": {
          "pt-BR": "Texto",
          "it": "Testo",
          "en": "Text",
          "es": "Texto",
          "de": "Text",
          "ja": "テキスト",
          "fr": "Texte"
        },
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": {
              "pt-BR": "Título",
              "it": "Heading",
              "en": "Heading",
              "es": "Título",
              "de": "Titel",
              "ja": "見出し",
              "fr": "Titre"
            },
            "default": {
              "pt-BR": "Imagem com texto",
              "it": "Immagine con testo",
              "en": "Image with text",
              "es": "Imagen con texto",
              "de": "Bild mit Text",
              "ja": "テキスト付き画像",
              "fr": "Image avec texte"
            }
          },
          {
            "type": "richtext",
            "id": "text",
            "label": {
              "pt-BR": "Texto",
              "it": "Testo",
              "en": "Text",
              "es": "Texto",
              "de": "Text",
              "ja": "テキスト",
              "fr": "Texte"
            },
            "default": {
              "pt-BR": "<p>Emparelhe texto grande com uma imagem para dar foco ao produto, coleção ou postagem do blog escolhido. Adicione detalhes sobre disponibilidade, estilo ou até mesmo um comentário.</p>",
              "it": "<p>Associa un testo di grandi dimensioni a un'immagine per dare importanza al prodotto, alla collezione o all'articolo del blog di tua scelta. Aggiungi dettagli sulla disponibilità, sullo stile o fornisci una recensione.</p>",
              "en": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
              "es": "<p>Vincula un texto largo con una imagen para dar visibilidad a tu producto, colección o publicación de blog elegida. Agrega detalles sobre disponibilidad, estilo, o incluso ofrece una reseña.</p>",
              "de": "<p>Kombinieren Sie große Schrift mit einem Foto, um einen Fokus auf Ihr ausgewähltes Produkt, die Kategorie oder einen Blogpost zu legen. Dazu Details zur Verfügbarkeit, Stil oder ein Review.</p>",
              "ja": "<p>あなたが選んだ商品、コレクション、またはブログ投稿に注目を集めるため、大きなテキストと画像を組み合わせます。可用性、スタイル、またはレビュー提供についての詳細を追加します。</p>",
              "fr": "<p>Ajoutez une image à un long texte pour mettre l'accent sur un produit de votre choix, une collection, ou un article de blog. Ajoutez des détails sur la disponibilité, le style, ou mettez un commentaire client en avant.</p>"
            }
          },
          {
            "type": "select",
            "id": "align",
            "label": {
              "pt-BR": "Alinhamento de texto",
              "it": "Allineamento del testo",
              "en": "Text alignment",
              "es": "Alineación de texto",
              "de": "Textausrichtung",
              "ja": "テキストアラインメント",
              "fr": "Alignement du texte"
            },
            "options": [
              {
                "value": "left",
                "label": {
                  "pt-BR": "Esquerda",
                  "it": "Sinistra",
                  "en": "Left",
                  "es": "Izquierda",
                  "de": "Links",
                  "ja": "左",
                  "fr": "Gauche"
                }
              },
              {
                "value": "center",
                "label": {
                  "pt-BR": "Centro",
                  "it": "Al centro",
                  "en": "Center",
                  "es": "Centrar",
                  "de": "Mitte",
                  "ja": "中央",
                  "fr": "Au centre"
                }
              },
              {
                "value": "right",
                "label": {
                  "pt-BR": "Direita",
                  "it": "Destra",
                  "en": "Right",
                  "es": "Derecha",
                  "de": "Rechts",
                  "ja": "右",
                  "fr": "Droite"
                }
              }
            ],
            "default": "left"
          }
        ]
      },
      {
        "type": "image_block",
        "name": {
          "pt-BR": "Imagem",
          "it": "Immagine",
          "en": "Image",
          "es": "Imagen",
          "de": "Foto",
          "ja": "画像",
          "fr": "Image"
        },
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": {
              "pt-BR": "Imagem",
              "it": "Immagine",
              "en": "Image",
              "es": "Imagen",
              "de": "Foto",
              "ja": "画像",
              "fr": "Image"
            }
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "pt-BR": "Imagem com texto",
          "it": "Immagine con testo",
          "en": "Image with text",
          "es": "Imagen con texto",
          "de": "Bild mit Text",
          "ja": "テキスト付き画像",
          "fr": "Image avec texte"
        },
        "category": {
          "pt-BR": "Imagem",
          "it": "Immagine",
          "en": "Image",
          "es": "Imagen",
          "de": "Foto",
          "ja": "画像",
          "fr": "Image"
        },
        "blocks": [
          {
            "type": "image_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
