
{% assign bg_color = section.settings.bg_color %}
{% include 'svg-curve' %}
<div  style="background-color:{{bg_color}}">
<div class="section-inner about-content container">
  <div class="text-center limitcopywidth">
  <h1 class="section-header">{{ section.settings.section_title }}</h1>
  <p class="subtitle">{{ section.settings.subtitle }}</p>
  </div>
  {% for block in section.blocks %}
  {% capture cycle_var %}{% cycle 'even', 'odd' %}{% endcapture %}
  {% capture image_layout %}
  <div class="col-sm-5 about-image-wrap {% if cycle_var == 'even' %}order-1 order-sm-2 order-md-2{% endif %}" style='padding: .5rem;'>
  <img class="about-image text-orange" src="{{ block.settings.image | img_url: '800x' }}"/>
  </div>
  {% endcapture %}
    <div class="row d-flex align-items-center" style='padding: 3em 0;'>
    {% if cycle_var == 'odd' %}{{ image_layout }}{% endif %}
    <div class="text-left col-sm-7 {% if cycle_var == 'even' %}order-2 order-sm-1 order-md-1{% endif %}">
      <h2 class="about-subtitle">{{ block.settings.heading}}</h2>
      <p>{{ block.settings.text_content }}</p>
      {% if block.settings.cta_link != blank or block.settings.cta_link_2 != blank %}
      <div class="d-flex align-items-center justify-content-start">
      {% if block.settings.cta_link != blank %}
        <a href="{{block.settings.cta_link}}"><button class="button-primary" style="margin-right: .5rem;"><span>{{block.settings.cta_text}}</span></button></a>
      {% endif  %}
      {% if block.settings.cta_link_2 != blank %}
        <a href="{{block.settings.cta_link_2}}"><button class="button-secondary"><span>{{block.settings.cta_text_2}}</span></button></a>
      {% endif %}
      </div>
      {% endif %}
      </div>
      {% if cycle_var == 'even' %}{{ image_layout }}{% endif %}

    </div>
  {% endfor %}

</div>
</div>
{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}

{% schema %}
  {
    "name": {
      "en": "About main Content"
    },
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": {
          "en": "Section Heading"
        },
        "default": {
          "en": "Rethinking beverages for our female contemporaries."
        }
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "About block",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "section heading",
            "default": {
              "en": "It’s 2018, your teas should be clean."
            }
          },
          {
            "type": "text",
            "id": "text_content",
            "label": "Text Content",
            "default": "lorem"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "page",
            "id": "cta_link",
            "label": "CTA Link 1"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text 1"
          },
          {
            "type": "page",
            "id": "cta_link_2",
            "label": "CTA Link 2"
          },
          {
            "type": "text",
            "id": "cta_text_2",
            "label": "CTA Text 247"
          }
        ]
      }
    ]
  }
{% endschema %}
