<div style="background-color: {{ section.settings.section_bg }}" class="section-inner-small homepage-icons-section home-section--content">
{% if section.settings.title != blank %}
  <div class="section-block__header text-center">
    <h4 class="h1--mini section-block__title">{{ section.settings.title | escape }}</h4>
  </div>
{% endif %}
<div style="clear: both;" class="row d-flex contained">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="row d-flex align-items-center justify-content-center m-3" >
        {% for block in section.blocks %}
        <div class="homepage-icon-wrap col-md-3 col-lg-3 col-xl-3  col-sm-3 col-6" style="">
              <a href="{{block.settings.link_1}}">
                {% if block.settings.interval_img %}<img class="interval-image-small" src="{{ block.settings.interval_img | img_url: '300x300' }}">{% endif %}
                {% if block.settings.text %}<h5 style="color: {{section.settings.section_font}}">{{ section.settings.text_1 }}</h5>{% endif %}
              </a>
            </div>
        {% endfor %}
            {% comment %} <div class="homepage-icon-wrap col-md-3 col-lg-3 col-xl-3  col-sm-3 col-6" style="">
              <a href="{{section.settings.link_1}}">
                {% if section.settings.interval_img_1 %}<img class="interval-image-small" src="{{ section.settings.interval_img_1 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.text_1 %}<h5 style="color: {{section.settings.section_font}}">{{ section.settings.text_1 }}</h5>{% endif %}
              </a>
            </div>
            <div class="homepage-icon-wrap col-md-3 col-lg-3 col-xl-3  col-sm-3 col-6" style="">
              <a href="{{section.settings.link_2}}">
                {% if section.settings.interval_img_2 %}<img class="interval-image-small" src="{{ section.settings.interval_img_2 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.text_2 %}<h5 style="color: {{section.settings.section_font}}">{{ section.settings.text_2 }}</h5>{% endif %}
              </a>
            </div>
            <div class="homepage-icon-wrap col-md-3 col-lg-3 col-xl-3  col-sm-3 col-6" style="">
              <a href="{{section.settings.link_3}}">
                {% if section.settings.interval_img_3 %}<img class="interval-image-small" src="{{ section.settings.interval_img_3 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.text_3 %}<h5 style="color: {{section.settings.section_font}}">{{ section.settings.text_3 }}</h5>{% endif %}
              </a>
            </div>
            <div class="homepage-icon-wrap col-md-3 col-lg-3 col-xl-3  col-sm-3 col-6" style="">
              <a href="{{section.settings.link_4}}">
                {% if section.settings.interval_img_4 %}<img class="interval-image-small" src="{{ section.settings.interval_img_4 | img_url: '300x300' }}">{% endif %}
                {% if section.settings.text_4 %}<h5 style="color: {{section.settings.section_font}}">{{ section.settings.text_4 }}</h5>{% endif %}
              </a>
            </div> {% endcomment %}
        </div>
    </div>
    {% if section.settings.cta_link %}
    <div class="col-12 d-flex align-items-center justify-content-center text-center" style="padding-top: 1.5em;">
        <a class="btn" href="{{ section.settings.cta_link }}">
        <span>{{ section.settings.cta_text }} </span>
        </a>
    </div>
    {% endif %}
</div>
</div>
{% schema %}
{
    "name": {
        "en": "Offers Icons"
    },
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "title",
          "default": "Featured Icons"
        },
        {
        "type": "color",
        "id": "section_bg",
        "label": "Section Background"
        },
        {
        "type": "color",
        "id": "section_font",
        "label": "Section Font Color"
        },
        {
        "type": "text",
        "id": "cta_text",
        "label": "Button Text",
        "default": "Send Invite"
        },
        {
        "type": "url",
        "id": "cta_link",
        "label": "Button Link"
        }
        ],
        "blocks": [
        {
      "type": "text",
      "name": "Icon",
      "settings": [
        {
        "type": "image_picker",
        "id": "interval_img",
        "label": "Icon"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Text"
        },
        {
        "type": "url",
        "id": "link",
        "label": "Icon Link"
        }
        ],
        "presets": [
        {
        "name": "Offers Icons",
        "category": "Offers"
        }
    ]
}
{% endschema %}
