<div class="password-logo">
    <h1 class="h2" itemscope itemtype="http://schema.org/Organization">
      {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
            <a href="/" itemprop="url" class="site-header__logo-link">
              <img src="{{ section.settings.logo | img_url: image_size }}"
                   srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                   alt="{{ section.settings.logo.alt | default: shop.name }}"
                   itemprop="logo">
            </a>
        {% else %}
            {{ shop.name }}
        {% endif %}
    </h1>
    <h2 class="password-page__title h1">{{ section.settings.header | escape }}</h2>
 </div>



{% schema %}
  {
    "name": {
      "pt-BR": "Cabeçalho",
      "it": "Header",
      "en": "Header",
      "es": "Encabezado",
      "de": "Titel",
      "ja": "ヘッダー",
      "fr": "En-tête"
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": {
          "pt-BR": "Imagem do logotipo",
          "it": "Immagine del logo",
          "en": "Logo image",
          "es": "Logotipo",
          "de": "Logo-Foto",
          "ja": "ロゴ画像",
          "fr": "Image du logo"
        }
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": {
          "pt-BR": "Largura do logotipo personalizado (em pixels)",
          "it": "Larghezza logo personalizzato (in pixel)",
          "en": "Custom logo width (in pixels)",
          "es": "Ancho del logotipo personalizado (en píxeles)",
          "de": "Benutzerdefinierte Logobreite (Pixel)",
          "ja": "ロゴの幅をカスタムする（ピクセルで）",
          "fr": "Largeur personnalisée du logo (en pixels)"
        },
        "default": {
          "pt-BR": "100",
          "it": "100",
          "en": "100",
          "es": "100",
          "de": "100",
          "ja": "100",
          "fr": "100"
        }
      },
      {
        "type": "text",
        "id": "header",
        "label": {
          "pt-BR": "Título",
          "it": "Heading",
          "en": "Heading",
          "es": "Título",
          "de": "Titel",
          "ja": "見出し",
          "fr": "Titre"
        },
        "default": {
          "pt-BR": "Em breve",
          "it": "Prossimamente",
          "en": "Coming Soon",
          "es": "Próximamente",
          "de": "Demnächst",
          "ja": "間もなく公開",
          "fr": "Ouverture prochaine"
        }
      }
    ]
  }
{% endschema %}
