{% if section.blocks.size > 0 %}
  <div class="page-width">
    {% comment %} <h4 class="h1 site-footer__section-title">{{ linklists[section.settings.link_list].title }}</h4> {% endcomment %}
    <div class="container row">
      {% for block in section.blocks %}
        <div class="col-12 row"><a href="{{ block.settings.press_link }}">
          <div class="col-3">
            <img src="{{ block.settings.image }}">
          </div>
          <div class="col-9">
            <h2>{{ block.settings.title }}</h2>
            <p>{{ block.settings.subtitle }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
{% endif %}



{% schema %}
{
  "name": "Press Room List",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Press Room"
    }
  ],
  "blocks": [
  {
    "type": "link",
    "name": "Press Link",
    "settings":[
    {
      "type": "url",
      "id": "press_link",
      "label": "label",
      "default": ""
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "placeholder": "Title"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Subtitle",
      "placeholder": "Subtitle"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
    ]
  }
  ]
}
{% endschema %}