{% if section.settings.show_section %}
<div style="background-color: {{ section.settings.section_bg }}" class="homepage-icons-section shopify-section home-section--content home-section--content offer-featured-links">
{% if section.settings.title != blank %}
  <div class="section-block__header text-center">
    <h4 class="h1--mini section-block__title">{{ section.settings.title | escape }}</h4>
  </div>
{% endif %}
<div style="clear: both;" class="row d-flex contained">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4">
        <div class="row" >
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
  {% for block in section.blocks %}
  <div
  {% if forloop.first %}
  class="carousel-item active promo-slider"
  {% else %}
  class="carousel-item promo-slider"
  {% endif %}
  >
    <img
      class="slideshow-image-block w-100"
      src="{{ block.settings.background_image | img_url: '1500x1500' }}"
      alt=""
    >
      <div class="slideshow-text limit-copy-width-sm promo-slider-text">
      {% if block.settings.title %}
      <h4 class="text-center">{{- block.settings.title -}}</h4>
      {% endif %}
      {% if block.settings.text %}
      <div class="text-center">{{ block.settings.text }}</div>
      {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        </div>
    </div>
</div>
</div>
{% endif %}
{% schema %}
{
    "name": {
        "en": "Offers Slideshow"
    },
    "settings": [
      {
          "id": "show_section",
          "type": "checkbox",
          "label": "Enable Section?",
          "default": false
        },
        {
          "type": "text",
          "id": "title",
          "label": "title",
          "default": "Get One of Each! This offer includes:"
        },
        {
          "id": "autoplay_duration",
          "type": "range",
          "label": "Autoplay slide duration",
          "min": 5,
          "max": 12,
          "step": 1,
          "unit": "sec",
          "default": 8
        }
        ],
        "blocks": [
          {
            "type": "slide",
            "name": "Slide",
            "settings": [
              {
                "id": "background_image",
                "type": "image_picker",
                "label": "Background image",
                "info": "800x600 recommended"
              },
              {
                "id": "title",
                "type": "text",
                "label": "Heading",
                "default": "Slideshow"
              },
              {
                "id": "text",
                "type": "richtext",
                "label": "Subheading",
                "default": "<p>Introduce customers to your shop with lifestyle and product imagery</p>"
              }
            ]
          }
        ],
        "presets": [
        {
        "name": "Offers Links",
        "category": "Homepage"
        }
    ]
}
{% endschema %}
