
{% assign bg_color = section.settings.bg_color %}
{% include 'svg-curve' %}
<div style="background-color: {{ bg_color }}" class="testimonials">
<div class="page-width quotes__wrap">
  <div class="section-block section-block--padding">
    {% if section.settings.title != blank %}
      <div class="section-block__header text-center container">
        <h4 class="h1--mini section-block__title">{{ section.settings.title | escape }}</h4>
        {{ section.settings.subtext }}
      </div>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="">
        <div class="quotes-row row" id="Quotes-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="quotes">
          {% for block in section.blocks %}
          {% capture color %}
          {% cycle 'green', 'orange', 'blue' %}
          {% endcapture %}
              <div class="text-center col-sm-4 card-container">
              <div class="quote__card d-flex flex-column align-items-center justify-content-around">
                <div class="quote-title {{ color }}"><h5>{{ block.settings.author | escape }}</h5></div>
                <div class="quote__image image-round"><img src="{{ block.settings.image | img_url: '500x500' }}"></div>
                  {% comment %} <span class="quote-icon">{% include 'icon-quote' %}</span> {% endcomment %}
                  <div class="rte-setting">{{ block.settings.quote }}</div>
                </div>
              </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}
  </div>
</div>
</div>
{% schema %}
  {
    "name": {
      "pt-BR": "Depoimentos",
      "it": "Testimonial",
      "en": "Testimonials",
      "es": "Testimonios",
      "de": "Testimonials",
      "ja": "お客様の声",
      "fr": "Témoignages"
    },
    "class": "index-section",
    "max_blocks": 3,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": {
          "pt-BR": "Título",
          "it": "Heading",
          "en": "Heading",
          "es": "Título",
          "de": "Titel",
          "ja": "見出し",
          "fr": "Titre"
        },
        "default": {
          "pt-BR": "Depoimentos",
          "it": "Testimonial",
          "en": "Testimonials",
          "es": "Testimonios",
          "de": "Testimonials",
          "ja": "お客様の声",
          "fr": "Témoignages"
        }
      },
      {
        "type": "richtext",
        "id": "subtext",
        "label": {
          "pt-BR": "Título",
          "it": "Heading",
          "en": "Subheading",
          "es": "Título",
          "de": "Titel",
          "ja": "見出し",
          "fr": "Titre"
        },
        "default": {
          "en": "<p>In today's modern classroom, students have dozens of distractions vying for their attention. Boredom and disengagement are constant problems in the traditional classroom setting, and now students are consumed with ever increasing screen time as opposed to interacting with their teachers and peers. mcSquares enhance student learning experiences through haptic and kinesthetic learning, as well as allowing students to engage with each their classmates as well as their teachers.</p>"
        }
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color"
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "limit": 3,
        "name": {
          "pt-BR": "Citação",
          "it": "Citazione",
          "en": "Quote",
          "es": "Cotización",
          "de": "Zitat",
          "ja": "引用",
          "fr": "Citation"
        },
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": {
              "pt-BR": "Texto",
              "it": "Testo",
              "en": "Text",
              "es": "Texto",
              "de": "Text",
              "ja": "テキスト",
              "fr": "Texte"
            },
            "default": {
              "pt-BR": "<p>Adicione comentários e depoimentos de clientes para destacar os clientes felizes da sua loja.</p>",
              "it": "<p>Aggiungi recensioni e testimonianze sul tuo negozio per dimostrare che i clienti sono soddisfatti.</p>",
              "en": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>",
              "es": "<p>Agrega las reseñas y los testimonios de los clientes para mostrar a los clientes satisfechos de tu tienda.</p>",
              "de": "<p>Kunden-Reviews und Testimonials, die Kundenzufriedenheit beweisen.</p>",
              "ja": "<p>あなたのストアの幸せなお客様を紹介するために、カスタマーレビューとお客様の声を追加してください。</p>",
              "fr": "<p>Ajoutez des avis et témoignages pour mettre en avant vos clients satisfaits.</p>"
            }
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": {
              "en": "Image"
            }
          },
          {
            "type": "text",
            "id": "author",
            "label": {
              "pt-BR": "Autoria",
              "it": "Autore",
              "en": "Author",
              "es": "Autor",
              "de": "Autor",
              "ja": "執筆者",
              "fr": "Auteur"
            },
            "default": {
              "pt-BR": "Nome do autor",
              "it": "Nome dell'autore",
              "en": "Author's name",
              "es": "Nombre del autor",
              "de": "Name des Autors",
              "ja": "筆者の名前",
              "fr": "Nom de l'auteur"
            }
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "pt-BR": "Depoimentos",
          "it": "Testimonial",
          "en": "Testimonials",
          "es": "Testimonios",
          "de": "Testimonials",
          "ja": "お客様の声",
          "fr": "Témoignages"
        },
        "category": {
          "pt-BR": "Texto",
          "it": "Testo",
          "en": "Text",
          "es": "Texto",
          "de": "Text",
          "ja": "テキスト",
          "fr": "Texte"
        },
        "blocks": [
          {
            "type": "quote"
          },
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}
