<script
  type="application/json"
  data-section-type="static-blog"
  data-section-id="{{ section.id }}">
</script>

{% assign paginate_by = section.settings.posts_per_page_range | times: 1 %}
<!-- <section class="blog--container container">
  {% paginate blog.articles by paginate_by %}

    <ul class="blog--inner">
      {% for article in blog.articles %}
        {%
          include 'article-excerpt',
          article: article
          %}
      {% else %}
        <article class="blog--no-results">
          <h2 class="blog--no-results-title">
            {{ 'blog.general.empty_blog' | t }}
          </h2>
        </article>
      {% endfor %}
    </ul>

    {% include 'pagination' %}
  {% endpaginate %}
</section> -->

{% assign featured_post = section.settings.featured_post %}
{% assign paginate_by = section.settings.posts_per_page_range | times: 1 %}

{% assign show_featured = false %}
{% if featured_post != '' and featured_post != blank %}
  {% assign show_featured = true %}

  {% comment %}
    Don't show highlighted post if is not first page, or if tags are active
  {% endcomment %}
  {% if paginate.current_page != 1 and current_tags != blank %}
    {% assign show_featured = false %}
  {% endif %}
{% endif %}

<section class="blog--container container">
  {% assign sorter = section.settings.sort_tags | split: ',' %}

  {% if section.settings.show_nav == 'true' %}
  <ul class="blog-nav">
    <li><h4><a class="active" onclick="blogSwitch('all')">All</a></h4></li>
    {% for tag in sorter %}
    <li><h4><a class="" onclick="blogSwitch('{{tag}}')">{{ tag | capitalize }}</a></h4></li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="article-row articles-all">
    {% paginate blog.articles by paginate_by %}
    <ul class="blog--inner">
      {% for article in blog.articles %}
        {%
          include 'article-excerpt',
          article: article
          %}
      {% endfor %}
    </ul>
    {% include 'pagination' %}
    {% endpaginate %}
  </div>
{% for tag in sorter %}
<div class="article-row articles-{{tag}}" style="display:none">
  <ul class="blog--inner">
  {%- for article in blog.articles -%}
    {%- if article.tags contains tag -%}
      {%
        include 'article-excerpt',
        article: article
        %}
    {%- endif -%}
  {%- endfor -%}
</ul>
</div>


{% endfor %}
</section>
<script defer>
var blogSwitch = function ( target ) {
  $('.article-row').hide()
  $('.articles-' + target).fadeIn();
}
</script>




{% schema %}
{
  "name": "Blog pages",
  "class": "blog--section section-pad has-graphic",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_rss_link",
      "label": "Show RSS link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date published",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show post author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show post excerpt",
      "default": true
    },
    {
      "type": "textarea",
      "id": "sort_tags",
      "label": "Tags to Sort By",
      "default": "education,work from home,whiteboarding",
      "info": "Comma separated, no spaces"
    },
    {
      "type": "radio",
      "id": "show_nav",
      "label": "Show Nav for Sorted blogs?",
      "default": "false",
      "options": [
        {
          "value": "true",
          "label": "Yes"
        },
        {
          "value": "false",
          "label": "No"
        }
      ]
    },
    {
      "type": "range",
      "id": "posts_per_page_range",
      "label": "Posts per page",
      "min": 6,
      "max": 12,
      "step": 3,
      "default": 9
    }
  ]
}

{% endschema %}
