<div class="page-width home-section--content" style="background-image: url('{{section.settings.bg_image | img_url: '800x'}}'); background-position: center; background-size: cover;">
  <div class="container">
    <div class="d-flex flex-column align-items-center text-center">
    <h4 class="text-center" style="color: {{ section.settings.text-color }}">
    {{ section.settings.heading }}
    </h4>
    <p class="text-center" style="color: {{ section.settings.text-color }}">
        {{ section.settings.copy }}
    </p>
      <a href="{{section.settings.cta--link}}">
        <button class="button-secondary">
          {{ section.settings.cta-button-text }}
        </button>
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Trees CTA",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Text Heading",
        "default": "Built for the Trees"
      },
      {
        "type": "richtext",
        "id": "copy",
        "label": "Copy",
        "default": "<p>Our products help companies meet environmental goals by providing a product that can be used over and over again. That means mcSquares products save the trees while saving you money.</p>"
      },
      {
        "type": "text",
        "id": "cta-button-text",
        "label": "CTA Button text",
        "default": "Contact Us"
      },
      {
        "type": "page",
        "id": "cta-link",
        "label": "CTA Link"
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Contact CTA"
        },
        "category": {
          "en": "CTAs"
        }
      }
    ]
  }
{% endschema %}