<style>
  {% if section.settings.cover_image %}
    #VideoSection--{{ section.id }} .video-section__cover-background {
      background-image: url({{ section.settings.cover_image | img_url: '1024x' | format: 'jpg' }});
      background-position: {{ section.settings.cover_image_position }};
    }
  {% endif %}
</style>

{% if section.settings.show_overlay %}
  <style>
    #VideoSection--{{ section.id }} .video-section__cover-text {
      color: {{ section.settings.overlay_text }};
    }

    #VideoSection--{{ section.id }} .video-section__load-player-button-triangle {
      border-left-color: {{ section.settings.overlay_text }};
    }

    #VideoSection--{{ section.id }} .video-section__load-player-button.animated .video-section__load-player-button-circle,
    #VideoSection--{{ section.id }} .video-section__load-player-button-circle {
      border-color: {{ section.settings.overlay_text }};
    }

    #VideoSection--{{ section.id }} .video-section__cover-overlay {
      background-color: {{ section.settings.overlay_color }};
      opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
    }
  </style>
{% endif %}

<div class="page-width">
  <div id="VideoSection--{{ section.id }}" class="video-section video-section--{{ section.settings.cover_image_height }}" data-section-id="{{ section.id }}" data-section-type="video" data-video-id="{{ section.settings.video_url.id }}" data-video-type="{{ section.settings.video_url.type }}">
    <div class="video-section__body-overlay"></div>
    <div class="video-section__modal">
      <div class="video-wrapper">
        <button class="video-section__player-close">
          <span class="visually-hidden">{{ 'video.close' | t }}</span>
          {% include 'icon-close' %}
        </button>
        <div class="video-section__player"></div>
      </div>
    </div>
    <div class="video-section__cover">
      <div class="video-section__cover-background">
        {% if section.settings.cover_image == blank %}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      <div class="video-section__cover-overlay"></div>
      <div class="video-section__cover-content">
        <button class="video-section__load-player-button {% if section.settings.button_label == blank %}video-section__load-player-button--large{% endif %}">
          <span class="visually-hidden">{{ 'video.play' | t }}</span>
          <div class="video-section__load-player-icon">
            <div class="video-section__load-player-button-circle"></div>
            <div class="video-section__load-player-button-triangle"></div>
          </div>
          {% if section.settings.button_label != blank %}
            <div class="h1 video-section__load-player-text">{{ section.settings.button_label }}</div>
          {% endif %}
        </button>
        <p class="video-section__error"></p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": {
      "pt-BR": "Vídeo",
      "it": "Video",
      "en": "Video",
      "es": "Video",
      "de": "Video",
      "ja": "動画",
      "fr": "Vidéo"
    },
    "class": "index-section index-section--video",
    "settings": [
      {
        "type": "text",
        "id": "button_label",
        "label": {
          "pt-BR": "Etiqueta do botão",
          "it": "Etichetta pulsante",
          "en": "Button label",
          "es": "Etiqueta de botón",
          "de": "Button-Etikett",
          "ja": "ボタンラベル",
          "fr": "Texte du bouton"
        }
      },
      {
        "type": "video_url",
        "id": "video_url",
        "label": {
          "pt-BR": "Link do vídeo",
          "it": "Link video",
          "en": "Video link",
          "es": "Enlace de video",
          "de": "Video-Link",
          "ja": "ビデオリンク",
          "fr": "Lien de la vidéo"
        },
        "accept": [
          "youtube",
          "vimeo"
        ]
      },
      {
        "type": "header",
        "content": {
          "pt-BR": "Capa",
          "it": "Copertina",
          "en": "Cover",
          "es": "Portada",
          "de": "Cover",
          "ja": "カバー",
          "fr": "Couverture"
        }
      },
      {
        "type": "image_picker",
        "id": "cover_image",
        "label": {
          "pt-BR": "Imagem",
          "it": "Immagine",
          "en": "Image",
          "es": "Imagen",
          "de": "Foto",
          "ja": "画像",
          "fr": "Image"
        }
      },
      {
        "type": "select",
        "id": "cover_image_position",
        "label": {
          "pt-BR": "Posição da imagem",
          "it": "Posizione Immagine",
          "en": "Image position",
          "es": "Posición de la imagen",
          "de": "Foto-Position",
          "ja": "画像の位置",
          "fr": "Position de l'image"
        },
        "default": "center center",
        "options": [
          {
            "label": {
              "pt-BR": "Superior esquerdo",
              "it": "In alto a sinistra",
              "en": "Top left",
              "es": "Superior izquierda",
              "de": "Oben links",
              "ja": "左上",
              "fr": "En haut à gauche"
            },
            "value": "top left"
          },
          {
            "label": {
              "pt-BR": "Superior centro",
              "it": "In alto al centro",
              "en": "Top center",
              "es": "Superior al centro",
              "de": "Oben Mitte",
              "ja": "中央上",
              "fr": "En haut au centre"
            },
            "value": "top center"
          },
          {
            "label": {
              "pt-BR": "Superior direito",
              "it": "In alto a destra",
              "en": "Top right",
              "es": "Superior derecha",
              "de": "Oben rechts",
              "ja": "右上",
              "fr": "En haut à droite"
            },
            "value": "top right"
          },
          {
            "label": {
              "pt-BR": "Meio esquerdo",
              "it": "In mezzo a sinistra",
              "en": "Middle left",
              "es": "Al medio a la izquierda",
              "de": "Mitte links",
              "ja": "中央左",
              "fr": "Au milieu à gauche"
            },
            "value": "center left"
          },
          {
            "label": {
              "pt-BR": "Meio centro",
              "it": "In mezzo al centro",
              "en": "Middle center",
              "es": "Al medio al centro",
              "de": "Mitte mittig",
              "ja": "中央中",
              "fr": "Centrée au milieu"
            },
            "value": "center center"
          },
          {
            "label": {
              "pt-BR": "Meio direito",
              "it": "In centro a destra",
              "en": "Middle right",
              "es": "Al medio a la derecha",
              "de": "Mitte rechts",
              "ja": "中央右",
              "fr": "Au milieu à droite"
            },
            "value": "center right"
          },
          {
            "label": {
              "pt-BR": "Inferior esquerdo",
              "it": "In basso a sinistra",
              "en": "Bottom left",
              "es": "Inferior izquierda",
              "de": "Unten links",
              "ja": "左下",
              "fr": "En bas à gauche"
            },
            "value": "bottom left"
          },
          {
            "label": {
              "pt-BR": "Inferior centro",
              "it": "In basso al centro",
              "en": "Bottom center",
              "es": "Inferior al centro",
              "de": "Unten mittig",
              "ja": "中央下",
              "fr": "En bas au centre"
            },
            "value": "bottom center"
          },
          {
            "label": {
              "pt-BR": "Inferior direito",
              "it": "In basso a destra",
              "en": "Bottom right",
              "es": "Inferior derecha",
              "de": "Unten rechts",
              "ja": "右下",
              "fr": "En bas à droite"
            },
            "value": "bottom right"
          }
        ]
      },
      {
        "type": "select",
        "id": "cover_image_height",
        "label": {
          "pt-BR": "Altura da imagem",
          "it": "Altezza immagine",
          "en": "Image height",
          "es": "Altura de imagen",
          "de": "Bildhöhe",
          "ja": "画像の高さ",
          "fr": "Hauteur de l'image"
        },
        "default": "short",
        "options": [
          {
            "value": "short",
            "label": {
              "pt-BR": "Pequena",
              "it": "Bassa",
              "en": "Short",
              "es": "Baja",
              "de": "Niedrig",
              "ja": "低い",
              "fr": "Petite"
            }
          },
          {
            "value": "tall",
            "label": {
              "pt-BR": "Alta",
              "it": "Alta",
              "en": "Tall",
              "es": "Alta",
              "de": "Hoch",
              "ja": "高い",
              "fr": "Grande"
            }
          }
        ]
      },
      {
        "type": "header",
        "content": {
          "pt-BR": "Sobreposição",
          "it": "Sovrapposizione",
          "en": "Overlay",
          "es": "Superposición",
          "de": "Overlay",
          "ja": "オーバーレイ",
          "fr": "Superposition"
        }
      },
      {
        "type": "checkbox",
        "id": "show_overlay",
        "label": {
          "pt-BR": "Exibir sobreposição",
          "it": "Mostra sovrapposizione",
          "en": "Show overlay",
          "es": "Mostrar superposición",
          "de": "Überlagerung anzeigen",
          "ja": "オーバーレイを表示する",
          "fr": "Afficher la superposition"
        },
        "default": true
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": {
          "pt-BR": "Sobreposição",
          "it": "Sovrapposizione",
          "en": "Overlay",
          "es": "Superposición",
          "de": "Overlay",
          "ja": "オーバーレイ",
          "fr": "Superposition"
        },
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": {
          "pt-BR": "%",
          "it": "%",
          "en": "%",
          "es": "%",
          "de": "%",
          "ja": "%",
          "fr": "%"
        },
        "label": {
          "pt-BR": "Opacidade",
          "it": "Opacità",
          "en": "Opacity",
          "es": "Opacidad",
          "de": "Opazität",
          "ja": "不透過率",
          "fr": "Opacité"
        },
        "default": 30
      }
    ],
    "presets": [
      {
        "name": {
          "pt-BR": "Vídeo",
          "it": "Video",
          "en": "Video",
          "es": "Video",
          "de": "Video",
          "ja": "動画",
          "fr": "Vidéo"
        },
        "category": {
          "pt-BR": "Vídeo",
          "it": "Video",
          "en": "Video",
          "es": "Video",
          "de": "Video",
          "ja": "動画",
          "fr": "Vidéo"
        }
      }
    ]
  }
{% endschema %}
