
{% section 'page-static-slideshow' %}
{% assign bg_color = '#fff' %}
{% include 'svg-curve' %}

<article class="site-page container contact-page-content has-bottom-curve" data-template-page data-template-contact>
{% if page.content != blank %}
  <div class="page-content rte contact-page-content">
    {{ page.content }}
  </div>
{% endif %}
  {% form 'contact' %}

    <div class="">
      {% assign has_message = false %}

      {% if form.errors != blank %}
        {% assign has_message = true %}
        {% assign message_type = 'error' %}
      {% endif %}

      {% if form.posted_successfully? %}
        {% assign has_message = true %}
        {% assign message_type = 'success' %}
      {% endif %}

      {% if has_message %}
        <div class="contact-message message--{{ message_type }}">
          {% case message_type %}
            {% when 'success' %}
              <p>
                {{ 'contact.form.post_success' | t }}
              </p>
            {% when 'error' %}
              {{ form.errors | default_errors }}
          {% endcase %}
        </div>
      {% endif %}
      <div class="form-fields-columns">
      <div class="form-field">
      <p class="" for="form-radios">
        I am a:
      </p>
          <div id="form-radios">
            <input type="radio" id="ContactFormCustomer" name="contact[Type]" value="Customer"/> Customer<br>
            <input type="radio" id="contactFormSchool" name="contact[Type]" value="School"/> School or University<br/>
            <input type="radio" id="contactFormCorporate" name="contact[Type]" value="Corporate"/> Corporate Buyer<br/>
            <input type="radio" id="contactFormRetail" name="contact[Type]" value="Retail"/> Retail Store<br/>
            <input type="radio" id="contactFormFurnishingDealer" name="contact[Type]" value="Furnishing Dealer"/> Furnishing Dealer<br/>
            <input type="radio" id="contactFormFurnishingManufacturer" name="contact[Type]" value="Furnishing Manufacturer"/> Furnishing Manufacture<br/>
            <input type="radio" id="contactFormInvestor" name="contact[Type]" value="Investor"/> Investor<br/>
            <input type="radio" id="contactFormMedia" name="contact[Type]" value="Media"/> Media<br/>
            <input type="radio" id="contactFormOther" name="contact[Type]" value="Other"/> Other<br/>
          </div>
          </div>
        </div>
        <div class="form-fields-columns">
        <div class="form-field form-field--half">
          {% assign value = '' %}
          {%- if form.name -%}
            {% assign value = form.name %}
          {%- elsif customer -%}
            {% assign value = customer.name %}
          {%- endif -%}
          <input
            class="form-field-input form-field-text {% if form.errors contains 'name' %}form-field-error{% endif %}"
            id="contact_name"
            name="contact[name]"
            type="text"
            value="{{ value }}">

          <label class="form-field-title" for="contact_name">
            {{ 'contact.form.name' | t }}
          </label>
        </div>

        <div class="form-field form-field--half">
          {% assign value = '' %}
          {%- if form.email -%}
            {% assign value = form.email %}
          {%- elsif customer -%}
            {% assign value = customer.email %}
          {%- endif -%}
          <input
            class="form-field-input form-field-text {% if form.errors contains 'email' %}form-field-error{% endif %}"
            id="contact_email"
            name="contact[email]"
            type="text"
            value="{{ value }}"
            autocorrect="off"
            autocapitalize="off">

          <label class="form-field-title" for="contact_email">
            {{ 'contact.form.email' | t }}
          </label>
        </div>
      </div>

      <div class="form-field">
        {% assign value = '' %}
        {%- if form.phone -%}
          {% assign value = form.phone %}
        {%- elsif customer -%}
          {% assign value = customer.phone %}
        {%- endif -%}

        <input
          class="form-field-input form-field-text {% if form.errors contains 'phone' %}form-field-error{% endif %}"
          id="contact_phone"
          name="contact[phone]"
          type="tel"
          value="{{ value }}">

        <label class="form-field-title" for="contact_phone">
          {{ 'contact.form.phone' | t }}
        </label>
      </div>
      <div class="form-field">
        {% assign value = '' %}

        <input
          class="form-field-input form-field-text {% if form.errors contains 'phone' %}form-field-error{% endif %}"
          id="contact_company"
          name="contact[company]"
          type="text"
          value="{{ value }}">

        <label class="form-field-title" for="contact_company">
          {{ 'contact.form.company' | t }}
        </label>
      </div>
      <div class="form-field">
        {% assign value = '' %}
        {%- if form.body -%}
          {% assign value = form.body %}
        {%- endif -%}
        <textarea
          class="form-field-input form-field-textarea {% if form.errors contains 'body' %}form-field-error{% endif %}"
          id="contact_message"
          name="contact[message]">{{ value }}</textarea>

        <label class="form-field-title" for="contact_body">
          {{ 'contact.form.message' | t }}
        </label>
      </div>

      <div class="form-action-row">
        <button class="button-primary contact-form-button" type="submit">
          {{ 'contact.form.send' | t }}
        </button>
      </div>
    </div>
  {% endform %}
  <hr style="margin:2em 0;"/>
  <div class="contact-form-lower">
    <p><strong>mcSquares Corporate Headquarters </strong></p>
    <p>2150 Market St. Denver, CO 80205</p>
    <p><a href="mailto:info@mcSquares.com" target="_blank">info@mcsquares.com</a></p>
  </div>
</article>
{% section 'collection-static-quick-about' %}
